.filter{
  padding-bottom:15px;
  border-bottom:1px solid #d8d8d8;
}

.general-items-filter{
  display: inline-block;
}

.title-filter-md-container{
  font-weight: bold;
}

.general-items-filter h1, h2{
  display: inline-block;
  font-size: 16px;
  margin:0px 40px 0px 0px;
  font-family:'Poppins', sans-serif;
  color:#373737;
  cursor: pointer;
}


.general-dropdown-container-filter{
  display:inline-block;
  float:right;
}

.dropdown-filter{
  font-size:16px;
  margin:0px;
  font-family:'Poppins', sans-serif;
}

.span-item{
  background:#007aff;
  padding:5px 15px;
  color:#fff;
  border-radius:100px;
}

@media screen and (min-width:0px) and (max-width:992px){
  .item-filter{
    display:none !important;
  }
}
